In [10]:
import pandas as pd
accident = pd.read_csv('acci.csv', engine='python')
accident.head()

          법규위반 주야  발생건수  사망자수   부상자수    중상    경상  부상신고
0           과속  주   159    34    334   140   178    16
1           과속  야   218    73    348   200   139     9
2  교차로 통행방법 위반  주  8817    82  14031  3915  9530   586
3  교차로 통행방법 위반  야  5904    29   9728  2401  6884   443
4           기타  주  9388   141  14070  4271  9217   582

In [8]:
import matplotlib.pyplot as plt
import numpy as np

In [15]:
from numpy import NaN
data=pd.DataFrame(accident, columns=['사망자수','중상','경상'])
data.head()

   사망자수    중상    경상
0    34   140   178
1    73   200   139
2    82  3915  9530
3    29  2401  6884
4   141  4271  9217